.Login-heading{
    text-align: center;
}
form{
    align-items: center;
    border: 1px solid;
    margin-left: 700px;
    height:200px;
    width:400px;
    background-color: rgb(193, 193, 191);
}

label{
    display: inline-block;
    padding: 12px;
    padding-left: 50px;
    padding-top: 40px;
}
input{
    display: inline;
    padding: 1;
    height:25px;
    border-radius: 8px;
}
.Login-Button{
    padding-top: 25px;
    margin-left:185px;
}
.New-user{
    text-align: center;
}